.card {
  margin: 10px;
  width: 300px;
  background-color: white;
  /* color: rgba(22, 19, 19, 0.911); */
}

/* .media-content {
  color: rgba(255, 255, 255, 0.911);
} */

#user_pic {
  border-radius: 50%;
}
